@model IEnumerable<LogicaNegocio.Dominio.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Todos los pedidos</h1>

<p>
    <a asp-action="Create" asp-controller="Pedido">Crear un nuevo pedido</a>
</p>
<p>
    <a asp-action="PedidosPorFecha" asp-controller="Pedido">Buscar pedido por fecha de emision</a>
</p>
<p>
    <a asp-action="ObtenerImporte" asp-controller="Pedido">Buscar importe por ID de pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Fecha Prometida
            </th>
            <th>
                Razon Social
            </th>
            <th>
                Costo Total
            </th>
            <th>
                Estado
            </th>
            <th></th>
      
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaEntregaPrometida)
            </td>
                <td>
                    @if (item.Cliente != null)
                    {
                        @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                    }
                    else
                    {
                        <span>Cliente no especificado</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="AgregarProducto" asp-controller="Pedido" asp-route-id="@item.Id">Agregar Producto</a> |  
                </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Usuario">Back to List</a>
</div>