@using Microsoft.AspNetCore.Http
@model IEnumerable<LogicaNegocio.Dominio.Usuario>



<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo usuario Administrador</a>
</p>

<p>
    <a asp-action="Index" asp-controller="Cliente">Indice de Clientes</a>
</p>

<p>
    <a asp-action="Index" asp-controller="Pedido">Ver todos los pedidos</a>
</p>

<p>
    <a asp-action="Index" asp-controller="Articulo">Ver todos los articulos</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre.Valor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
